<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SCookie</servlet-name>
        <servlet-class>servlets.SCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLogin</servlet-name>
        <servlet-class>servlets.SLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistro</servlet-name>
        <servlet-class>servlets.SRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPuntuacion</servlet-name>
        <servlet-class>servlets.SPuntuacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFecha</servlet-name>
        <servlet-class>servlets.SFecha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SCookie</servlet-name>
        <url-pattern>/SCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistro</servlet-name>
        <url-pattern>/SRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPuntuacion</servlet-name>
        <url-pattern>/SPuntuacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFecha</servlet-name>
        <url-pattern>/SFecha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
